<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            Daily Org Limits <small><em>rolling 24 hour window</em></small>
            <div class="pull-right">{{connection-status status=socketStatus}}</div>
        </h4>
    </div>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Used</th>
            </tr>
        </thead>
        <tbody>
            {{#each modelPretty as |limit|}}
            <tr>
                <td>{{limit.name}}</td>
                <td>{{limit.value}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
