<div class="text-center" style="margin-top: 50px;">
    <h4>
        {{#if message}}
            {{message}}
        {{else}}
            Loading...
        {{/if}}
    </h4>
    <div class="center-block" style="margin-top: 30px;">
        <img src="assets/ajax-loader.gif">
    </div>
</div>
