.glyphicon-animate-spin {
    -animation: spin 2s infinite linear;
    -ms-animation: spin 2s infinite linear;
    -webkit-animation: spinw 2s infinite linear;
    -moz-animation: spinm 2s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

/*http://www.bootply.com/86116*/
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*
The ember-notify addon's way of configuring the position of the notifications is way to difficult to implement correctly
so here we are going to override this css block directly found here: https://github.com/aexmachina/ember-notify/blob/master/vendor/ember-notify.css
This is definitely not a good idea but it's going to get us by for now.
*/
.ember-notify-default.ember-notify-cn {
    position: fixed;
    z-index: 5000;
    top: 60px;
    right: 0px;
}
