# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# Sublime Text Settings
*.sublime-project
*.sublime-workspace

# User specific IDE settings
.editorconfig

# Visual Studio Code Settings
.vscode

# This file will store keys, ids, usernames, passwords, etc. that we don't want in git.
.env