{{class-stats classes=model.classes}}

<div>
    Number of test classes (best guess): {{testClasses.length}}
</div>

<div>
    <!--Direct access of a controller proeprty-->
    Current Api Version: {{currentOrgVersion}}
</div>

{{outlet}}