<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <!-- NOTE: "model.orgLimits" lives at controllers/dashboard.js -->
            {{org-limit-watch model=model.orgLimits update=(action "updateOrgApiLimits")}}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            {{org-version apiVersions=model.apiVersions classes=model.classes}}
            {{trace-flag model=model.traceFlags create=(action "onTraceFlagCreate") update=(action "onTraceFlagUpdate") reload=(action "onTraceFlagReload")}}
        </div>
    </div>
</div>

{{outlet}}
