{{#if isAuthenticating}}
	{{page-loader message="Authenticating..."}}
{{else}}
	<div class="jumbotron">
		<div class="container">
			<h1>SITH <small>a salesforce app for developers</small></h1>
			<h4>clicking this button will open the Auth0 login window</h4>
			<button class="btn btn-success" {{action 'login'}}>Login</button>
		</div>
	</div>
{{/if}}
